/* stylesheet from: https://github.com/quarto-dev/quarto-cli/discussions/2538#discussioncomment-4081842 */

/* add adobe fonts web project to use itc frnaklin gothic font */
@import url('https://use.typekit.net/har7kij.css');

html {
  font-family: franklin-gothic-urw, sans-serif;
}

header h1.title {
  font-size: 5em;
}

header .author {
  font-size: 2em;
  font-weight: 900;
  color: black;
  margin-block-end: 0em;
}

header .date {
  font-size: 2em;
  color: #6b767f;
  margin-block-start: 0em;
}

header {
  margin-block-end: 5em;
}

/* table of contents */

#TOC {
  padding: 1em;
  background-color: #2d3494;
  color: white;
  font-size: larger;
}

#toc-title {
  margin-block-start: 0;
}

#TOC ul {
  list-style: none;
  padding-inline-start: 0;
  margin-block-end: 0;
}

#TOC li a {
  color: white;
  font-weight: normal;
}

#TOC li + li {
  margin-block-start: 0.35em;
}

/* individual story bodies are sandwiched with a div.story or div.framing when processing so that we can have our title blocks run across the page while still having a 2 column layout for the story body */
.story, .framing {
  column-count: 2;
}

h1 {
  break-before: always;
  text-transform: uppercase;
  color: #36a7e9;
  margin-block-end: 0;
}

/* author after story title */

h1 + p {
  text-transform: uppercase;
  color: #6b767f;
  font-size: 1.1rem;
  margin-block-start: 0;
}

h2 {
  font-weight: 900;
  text-transform: uppercase;
}

h3 {
  font-weight: 700;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  font-weight: 700;
  color: #36a7e9;
}

/* for some reason superdesk exports links as <a><u></u></a> */
u {
  text-decoration: none;
}

.title-block {
  background: yellow;
}